<!DOCTYPE html>
<html lang="en" ng-app='app'>

    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="robots" content="NOODP"/>
        <meta name="googlebot" content="NOODP"/>
        <meta name="description" content="Stand Bright Studios is an animation studio that can provide a multitude of services within the industry. Feel free to contact the team and start the conversation at hello@standbrightstudios.com!".>
        <meta name="keywords" content="Stand, Bright, Studios, StandBrightStudios, Contact, Us, hello@standbrightstudios.com, Company"/>
        <meta name="author" content="Carlos Marra".>

        <title>Stand Bright Studios</title>

        <!-- for FF, Chrome, Opera -->

        <link rel="icon" type="image/png" href="images/logo.png" sizes="16x16">
        <link rel="icon" type="image/png" href="images/logo.png" sizes="32x32">

        <!---custom CSS and JS-->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="stylesheet" href="scss-css/styles.css">
    </head>

    <body ng-controller="mainController">
        <div class="whole_container">
            <img class='header_logo' src="images/sbslogo.png">

            <div class="info_container">
            
                <div class="demo_video">
                    <iframe frameborder="0" src="https://player.vimeo.com/video/128739721?color=ff005a&title=0&byline=0&portrait=0"></iframe>
                </div>

                <div class='animation_types'>
                    <div class="row">
                        <div class="styles" ng-repeat="styles in downstyle">
                            <div class="images" style="{{styles.path}}"></div>
                            <div class="dropdown"></div>
                            <p>{{styles.text}}</p>
                            <img class='pencil_head hide' src="images/mountain.png">
                        </div> 
                        <div class="clear"></div>
                    </div>  

                    <div class="row">
                        <div class="styles" ng-repeat="styles in upstyle">
                            <div class="images" style="{{styles.path}}"></div>
                            <div class="dropup"></div>
                            <p>{{styles.text}}</p>
                            <img class='pencil_head hide' src="images/mountain.png">
                        </div> 
                        <div class="clear"></div>
                    </div>  
                </div>






                <div class="planning">
                    <div class="line-three">
                        <div class="whole_slide {{slide.hide}}" ng-repeat="slide in slides">
                            <div class="slide_images" style="{{slide.path}}"></div>
                            <div class="meat_slide">
                                <h1>{{slide.h1}}</h1>
                                <p>{{slide.p}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="buttons"> 
                        <div class="blue_buttons {{slide.active}}" ng-repeat="slide in slides"></div>
                    </div>
                </div>

                <div class="about">





                        <div class="people moving">
                            <img src="images/{{employee.path}}.png" ng-repeat="employee in employees1">
                        </div>
                    
                </div>

                   
                <div class="contact_us">
             
                    <div class="contact_title">
                        <h1>Contact Us</h1>
                    </div>

                    <img class='gradient_flame' src="images/logoflame-solo-pink.png">


                    <form action="server.php" id="contact_submit" method="POST" class='ajax'>
                    
                        <div class="contact_information">
                            <label class='name_label'>NAME</label>
                            <input class='name_input' name="person_name" type="text">                               
                        </div>

                        <div class="contact_information">
                            <label class="name_label">COMPANY</label>
                            <input class="name_input" name="company_name" type="text">                               
                        </div>

                        <div class="contact_information">
                            <label class="name_label">PHONE NUMBER</label>
                            <input class="name_input" name="company_number" type="text">                               
                        </div>

                        <div class="contact_information">
                            <label class="name_label">EMAIL</label>
                            <input class="name_input" name="company_email" type="text">                                                            
                        </div>

                        <div class="add_information">
                            <label class="name_label">ADDITIONAL NOTES</label>
                            <textarea class="large_input" name="company_details" type="text"></textarea> 
                            <div class="clear"></div>
                        </div>
                        
                        <div class="contact_information" style="float: right;">
                             <button type="submit" name="submit" value='Send'>SUBMIT</button>
                        </div>
                        
                        <div class="clear"></div>

                    </form>

                    <div class="clear"></div>

                </div>
            
                <div class="footer">
                    <div class="info">
                        <p>HELLO@STANDBRIGHTSTUDIOS.COM | 516-724-4457 | BROOKLYN, NY</p>
                    </div>
                    <div class="socials">
                        <a href="https://www.facebook.com/pages/Stand-Bright-Studios/1568394150088377?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/Stand_Brightly"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                </div>

            </div>

        </div>
        
        <div class="clear"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/complete.min.js"></script>
    </body>

</html>