body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px; }

.hide {
  display: none; }

.clear {
  clear: both; }

@media screen and (max-width: 959px) {
  ::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */ } }
.whole_container {
  width: 100%;
  background: #f5f5f5;
  padding: 64px 0px; }
  @media screen and (max-width: 959px) {
    .whole_container {
      padding: 0px 0px; } }
  .whole_container .header_logo {
    width: 518px;
    left: calc(50% - 245px);
    bottom: 20px;
    position: relative;
    margin: -30px 0px 0px; }
    @media screen and (max-width: 959px) {
      .whole_container .header_logo {
        margin: 30px 0px 0px; } }
    @media screen and (max-width: 599px) {
      .whole_container .header_logo {
        display: none; } }
  .whole_container .header_logo_mobile {
    width: 120px;
    padding: 10px calc(50% - 60px) 20px;
    display: none; }
    @media screen and (max-width: 599px) {
      .whole_container .header_logo_mobile {
        display: block; } }
  .whole_container .info_container {
    width: 1080px;
    margin: 0 calc(50% - 540px);
    background: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.4), 0 4px 5px 0 rgba(0, 0, 0, 0.28), 0 1px 10px 0 rgba(0, 0, 0, 0.24); }
    @media screen and (max-width: 1359px) {
      .whole_container .info_container {
        width: 930px;
        margin: 0 calc(50% - 465px); } }
    @media screen and (max-width: 959px) {
      .whole_container .info_container {
        width: 100%;
        margin: 0px; } }
    .whole_container .info_container .demo_video {
      width: 1080px;
      height: 610px; }
      @media screen and (max-width: 1359px) {
        .whole_container .info_container .demo_video {
          width: 930px;
          height: 530px; } }
      @media screen and (max-width: 959px) {
        .whole_container .info_container .demo_video {
          width: 100%;
          height: 56vw; } }
      .whole_container .info_container .demo_video iframe {
        width: 100%;
        height: 100%; }
        .whole_container .info_container .demo_video iframe .player .controls {
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          top: 0;
          z-index: auto;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end; }
    .whole_container .info_container .animation_types {
      position: relative;
      z-index: 100;
      background: #00073B; }
      .whole_container .info_container .animation_types .row .styles {
        background: transparent;
        width: 360px;
        height: 360px;
        float: left;
        position: relative;
        color: transparent; }
        @media screen and (max-width: 1359px) {
          .whole_container .info_container .animation_types .row .styles {
            width: 310px;
            height: 310px; } }
        @media screen and (max-width: 959px) {
          .whole_container .info_container .animation_types .row .styles {
            width: 33.33333vw;
            height: 33.33333vw; } }
        @media screen and (max-width: 599px) {
          .whole_container .info_container .animation_types .row .styles {
            width: 50vw;
            height: 50vw; } }
        .whole_container .info_container .animation_types .row .styles .images {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 3;
          background-size: cover;
          background-repeat: no-repeat; }
        .whole_container .info_container .animation_types .row .styles .pencil_head {
          position: absolute;
          z-index: 19;
          bottom: 115px;
          left: 50%;
          width: 70px;
          transform: translate(-50%, 0%); }
          @media screen and (max-width: 1359px) {
            .whole_container .info_container .animation_types .row .styles .pencil_head {
              bottom: 90px; } }
          @media screen and (max-width: 959px) {
            .whole_container .info_container .animation_types .row .styles .pencil_head {
              display: none; } }
        .whole_container .info_container .animation_types .row .styles .dropdown, .whole_container .info_container .animation_types .row .styles .dropup {
          position: absolute;
          width: 100%;
          top: 0px;
          height: 0px;
          background: rgba(0, 0, 0, 0.5);
          z-index: 5; }
        .whole_container .info_container .animation_types .row .styles .dropup {
          bottom: 0px;
          top: auto; }
        .whole_container .info_container .animation_types .row .styles .pinkify {
          -webkit-animation: pulse .25s forwards;
          -moz-animation: pulse .25s forwards;
          -o-animation: pulse .25s forwards;
          animation: pulse .25s forwards; }
          @media screen and (max-width: 1359px) {
            .whole_container .info_container .animation_types .row .styles .pinkify {
              -webkit-animation: pulse_1359 .25s forwards;
              -moz-animation: pulse_1359 .25s forwards;
              -o-animation: pulse_1359 .25s forwards;
              animation: pulse_1359 .25s forwards; } }
          @media screen and (max-width: 959px) {
            .whole_container .info_container .animation_types .row .styles .pinkify {
              -webkit-animation: pulse_959 .25s forwards;
              -moz-animation: pulse_959 .25s forwards;
              -o-animation: pulse_959 .25s forwards;
              animation: pulse_959 .25s forwards; } }
          @media screen and (max-width: 599px) {
            .whole_container .info_container .animation_types .row .styles .pinkify {
              -webkit-animation: pulse_599 .25s forwards;
              -moz-animation: pulse_599 .25s forwards;
              -o-animation: pulse_599 .25s forwards;
              animation: pulse_599 .25s forwards; } }
        .whole_container .info_container .animation_types .row .styles .depinkify {
          -webkit-animation: depulse .25s forwards;
          -moz-animation: depulse .25s forwards;
          -o-animation: depulse .25s forwards;
          animation: depulse .25s forwards; }
          @media screen and (max-width: 1359px) {
            .whole_container .info_container .animation_types .row .styles .depinkify {
              -webkit-animation: depulse_1359 .25s forwards;
              -moz-animation: depulse_1359 .25s forwards;
              -o-animation: depulse_1359 .25s forwards;
              animation: depulse_1359 .25s forwards; } }
          @media screen and (max-width: 959px) {
            .whole_container .info_container .animation_types .row .styles .depinkify {
              -webkit-animation: depulse_959 .25s forwards;
              -moz-animation: depulse_959 .25s forwards;
              -o-animation: depulse_959 .25s forwards;
              animation: depulse_959 .25s forwards; } }
          @media screen and (max-width: 599px) {
            .whole_container .info_container .animation_types .row .styles .depinkify {
              -webkit-animation: depulse_599 .25s forwards;
              -moz-animation: depulse_599 .25s forwards;
              -o-animation: depulse_599 .25s forwards;
              animation: depulse_599 .25s forwards; } }
@keyframes pulse {
  0% {
    height: 0px; }
  100% {
    height: 360px; } }
@keyframes depulse {
  0% {
    height: 360px; }
  100% {
    height: 0px; } }
@keyframes pulse_1359 {
  0% {
    height: 0px; }
  100% {
    height: 310px; } }
@keyframes depulse_1359 {
  0% {
    height: 310px; }
  100% {
    height: 0px; } }
@keyframes pulse_959 {
  0% {
    height: 0px; }
  100% {
    height: 33.33333vw; } }
@keyframes depulse_959 {
  0% {
    height: 33.33333vw; }
  100% {
    height: 0px; } }
@keyframes pulse_599 {
  0% {
    height: 0px; }
  100% {
    height: 50vw; } }
@keyframes depulse_599 {
  0% {
    height: 50vw; }
  100% {
    height: 0px; } }
        .whole_container .info_container .animation_types .row .styles p {
          position: absolute;
          width: 100%;
          margin: 0px;
          z-index: 10;
          font-size: 36px;
          font-weight: bold;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 100; }
          @media screen and (max-width: 1359px) {
            .whole_container .info_container .animation_types .row .styles p {
              font-size: 30px; } }
      .whole_container .info_container .animation_types .row .styles:hover {
        color: white; }
    .whole_container .info_container .planning {
      height: 600px;
      background: transparent;
      position: relative; }
      @media screen and (max-width: 1359px) {
        .whole_container .info_container .planning {
          height: 520px; } }
      @media screen and (max-width: 959px) {
        .whole_container .info_container .planning {
          display: none; } }
      .whole_container .info_container .planning .whole_slide {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%; }
        .whole_container .info_container .planning .whole_slide .slide_images {
          width: 100%;
          height: 100%;
          background-size: 33.3333333%;
          position: absolute; }
          .whole_container .info_container .planning .whole_slide .slide_images video {
            width: 100%;
            height: 130%;
            position: absolute;
            margin: -90px 0px 0px; }
            @media screen and (max-width: 1359px) {
              .whole_container .info_container .planning .whole_slide .slide_images video {
                margin: -80px 0px 0px; } }
        .whole_container .info_container .planning .whole_slide .slide_overlay {
          width: 100%;
          height: 100%; }
        .whole_container .info_container .planning .whole_slide .meat_slide {
          position: absolute;
          z-index: 25;
          width: 600px;
          height: 200px;
          background: rgba(0, 3, 23, 0.85);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 20px; }
          .whole_container .info_container .planning .whole_slide .meat_slide h1 {
            margin: 45px 0px 10px;
            font-size: 64px;
            font-weight: 100; }
          .whole_container .info_container .planning .whole_slide .meat_slide p {
            margin: -5px 0px 0px; }
          .whole_container .info_container .planning .whole_slide .meat_slide h1, .whole_container .info_container .planning .whole_slide .meat_slide p {
            text-align: center;
            color: white; }
      .whole_container .info_container .planning .buttons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 300; }
        .whole_container .info_container .planning .buttons .blue_buttons {
          width: 15px;
          height: 15px;
          background: rgba(0, 3, 23, 0.95);
          border: 3px solid rgba(0, 3, 23, 0.95);
          border-radius: 50%;
          margin: 0px 10px 30px;
          float: left;
          cursor: pointer; }
        .whole_container .info_container .planning .buttons .active {
          background: #6bcdea; }
      .whole_container .info_container .planning .arrows .left {
        position: absolute;
        left: 30px;
        top: 45%;
        transform: translate(-50%, 0%);
        z-index: 400; }
        .whole_container .info_container .planning .arrows .left i {
          font-size: 64px;
          color: rgba(0, 3, 23, 0.95);
          cursor: pointer; }
      .whole_container .info_container .planning .arrows .right {
        position: absolute;
        right: -15px;
        top: 45%;
        transform: translate(-50%, 0%);
        z-index: 400; }
        .whole_container .info_container .planning .arrows .right i {
          font-size: 64px;
          color: rgba(0, 3, 23, 0.95);
          cursor: pointer; }
    .whole_container .info_container .planning_mobile {
      background: rgba(0, 3, 23, 0.95);
      padding: 24px 0px 0px;
      display: none; }
      @media screen and (max-width: 959px) {
        .whole_container .info_container .planning_mobile {
          display: block; } }
      .whole_container .info_container .planning_mobile h1, .whole_container .info_container .planning_mobile h2, .whole_container .info_container .planning_mobile p {
        margin: 0px;
        color: white; }
      .whole_container .info_container .planning_mobile h1 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 48px;
        font-weight: 100; }
      .whole_container .info_container .planning_mobile .steps {
        padding: 20px 0px;
        margin: 0 auto; }
      .whole_container .info_container .planning_mobile h2, .whole_container .info_container .planning_mobile p {
        margin: 5px 30px;
        font-weight: 100; }
      .whole_container .info_container .planning_mobile h2 {
        font-size: 30px; }
      .whole_container .info_container .planning_mobile p {
        font-size: 18px; }
    .whole_container .info_container .about {
      width: 100%;
      height: 270px;
      max-width: 1080px;
      background: rgba(0, 3, 23, 0.95);
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
      z-index: 100; }
      @media screen and (max-width: 1359px) {
        .whole_container .info_container .about {
          max-width: 930px;
          height: 232.5px; } }
      @media screen and (max-width: 959px) {
        .whole_container .info_container .about {
          max-width: 100%;
          height: 33.33333vw; } }
      @media screen and (max-width: 599px) {
        .whole_container .info_container .about {
          max-width: 100%;
          height: 50vw; } }
      .whole_container .info_container .about .people {
        width: 400%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 3, 23, 0.95);
        animation: scroll 60s linear infinite;
        -ms-animation: scroll 60s linear infinite; }
        @media screen and (max-width: 959px) {
          .whole_container .info_container .about .people {
            width: 500%; } }
        @media screen and (max-width: 599px) {
          .whole_container .info_container .about .people {
            width: 700%; } }
        .whole_container .info_container .about .people .humans {
          background: transparent;
          width: 270px;
          height: 270px;
          float: left;
          position: relative; }
          @media screen and (max-width: 1359px) {
            .whole_container .info_container .about .people .humans {
              width: 232.5px;
              height: 232.5px; } }
          @media screen and (max-width: 959px) {
            .whole_container .info_container .about .people .humans {
              width: 33.33333vw;
              height: 33.33333vw; } }
          @media screen and (max-width: 599px) {
            .whole_container .info_container .about .people .humans {
              width: 50vw;
              height: 50vw; } }
          .whole_container .info_container .about .people .humans img {
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat; }
          .whole_container .info_container .about .people .humans .dropdown {
            position: absolute;
            width: 100%;
            top: 0px;
            height: 0px;
            background: rgba(0, 0, 0, 0.75);
            z-index: 50; }
          .whole_container .info_container .about .people .humans .pinkify {
            -webkit-animation: pulse2 .1s forwards;
            -moz-animation: pulse2 .1s forwards;
            -o-animation: pulse2 .1s forwards;
            animation: pulse2 .1s forwards; }
@keyframes pulse2 {
  0% {
    height: 0px; }
  100% {
    height: 270px; } }
          @media screen and (max-width: 1359px) {
            @keyframes pulse2 {
              0% {
                height: 0px; }
              100% {
                height: 232.5px; } } }
          @media screen and (max-width: 959px) {
            @keyframes pulse2 {
              0% {
                height: 0px; }
              100% {
                height: 33.333333vw; } } }
          @media screen and (max-width: 599px) {
            @keyframes pulse2 {
              0% {
                height: 0px; }
              100% {
                height: 50vw; } } }
          .whole_container .info_container .about .people .humans .text {
            position: absolute;
            width: 100%;
            margin: 0px;
            z-index: 60;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            .whole_container .info_container .about .people .humans .text h1 {
              margin: 30px 0px 0px;
              font-size: 48px;
              color: white;
              font-weight: 100; }
            .whole_container .info_container .about .people .humans .text p {
              margin: -5px 0px 0px;
              font-size: 24px;
              color: #f4d419; }
@keyframes scroll {
  0% {
    left: 0; }
  100% {
    left: -300%; } }
      @media screen and (max-width: 959px) {
        @keyframes scroll {
          0% {
            left: 0; }
          100% {
            left: -400%; } } }
      @media screen and (max-width: 599px) {
        @keyframes scroll {
          0% {
            left: 0; }
          100% {
            left: -600%; } } }
    .whole_container .info_container .contact_us {
      background: rgba(0, 3, 23, 0.95);
      padding: 24px 0px 0px;
      position: relative;
      z-index: 100; }
      .whole_container .info_container .contact_us .gradient_flame {
        position: absolute;
        width: 200px;
        top: 75px;
        left: 150px; }
        @media screen and (max-width: 1359px) {
          .whole_container .info_container .contact_us .gradient_flame {
            left: 90px; } }
        @media screen and (max-width: 959px) {
          .whole_container .info_container .contact_us .gradient_flame {
            display: none; } }
      .whole_container .info_container .contact_us .contact_title {
        color: white;
        width: 100%; }
        .whole_container .info_container .contact_us .contact_title h1 {
          text-align: right;
          font-size: 64px;
          margin: 10px 70px 10px 0px;
          font-weight: 100; }
          @media screen and (max-width: 1359px) {
            .whole_container .info_container .contact_us .contact_title h1 {
              margin-right: 45px; } }
          @media screen and (max-width: 959px) {
            .whole_container .info_container .contact_us .contact_title h1 {
              margin-right: 0px;
              text-align: center; } }
          @media screen and (max-width: 599px) {
            .whole_container .info_container .contact_us .contact_title h1 {
              font-size: 48px;
              margin-bottom: 30px; } }
      .whole_container .info_container .contact_us #contact_submit {
        width: 600px;
        float: right;
        margin-right: 40px; }
        @media screen and (max-width: 1359px) {
          .whole_container .info_container .contact_us #contact_submit {
            margin-right: 10px; } }
        @media screen and (max-width: 959px) {
          .whole_container .info_container .contact_us #contact_submit {
            float: none;
            width: 600px;
            margin: 0 calc(50% - 320px); } }
        @media screen and (max-width: 599px) {
          .whole_container .info_container .contact_us #contact_submit {
            width: 300px;
            margin: 0 calc(50% - 165px); } }
        .whole_container .info_container .contact_us #contact_submit .add_information {
          float: left;
          position: relative;
          padding: 15px 50px; }
          .whole_container .info_container .contact_us #contact_submit .add_information .large_input {
            width: 475px;
            background: transparent;
            border: 2px solid white;
            height: 200px;
            top: 25px;
            position: relative;
            left: 15px;
            outline: none;
            color: white;
            font-size: 16px;
            padding: 10px;
            overflow: hidden; }
            @media screen and (max-width: 599px) {
              .whole_container .info_container .contact_us #contact_submit .add_information .large_input {
                width: 180px; } }
        .whole_container .info_container .contact_us #contact_submit .contact_information label, .whole_container .info_container .contact_us #contact_submit .add_information label {
          position: absolute;
          z-index: -1;
          color: white;
          font-size: 16px;
          left: 65px;
          top: 20px; }
        .whole_container .info_container .contact_us #contact_submit .contact_information {
          float: left;
          width: 270px;
          position: relative;
          padding: 20px 15px; }
          .whole_container .info_container .contact_us #contact_submit .contact_information input {
            color: white;
            background: transparent;
            border: none;
            border-bottom: 2px solid white;
            font-size: 16px;
            outline: none;
            width: 200px;
            margin: 0 50px; }
          .whole_container .info_container .contact_us #contact_submit .contact_information button {
            color: black;
            background: white;
            border: none;
            font-size: 16px;
            font-weight: bold;
            outline: none;
            width: 120px;
            margin: 10px 20px;
            padding: 13px 0px 9px;
            border-radius: 5px;
            float: right;
            cursor: pointer; }
    .whole_container .info_container .footer {
      background: rgba(0, 3, 23, 0.95);
      position: relative;
      height: 70px; }
      @media screen and (max-width: 959px) {
        .whole_container .info_container .footer {
          height: 100px; } }
      .whole_container .info_container .footer .info {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 0%); }
        .whole_container .info_container .footer .info p {
          color: white;
          margin: 0px;
          width: 100%;
          text-align: center; }
        .whole_container .info_container .footer .info .desktop {
          display: block; }
          @media screen and (max-width: 959px) {
            .whole_container .info_container .footer .info .desktop {
              display: none; } }
        .whole_container .info_container .footer .info .mobile {
          display: none;
          text-align: center; }
          @media screen and (max-width: 959px) {
            .whole_container .info_container .footer .info .mobile {
              display: block;
              line-height: 1.5; } }
      .whole_container .info_container .footer .socials {
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translate(-50%, 0%); }
        @media screen and (max-width: 959px) {
          .whole_container .info_container .footer .socials {
            bottom: 20px; } }
        .whole_container .info_container .footer .socials i {
          font-size: 24px;
          color: white;
          margin: 0px 10px; }
      .whole_container .info_container .footer .copy {
        position: absolute;
        right: 0;
        bottom: 0;
        color: white; }
        .whole_container .info_container .footer .copy p {
          margin: 5px; }

.label_change {
  top: 0px !important;
  font-size: 12px !important; }

.error {
  color: red; }

.waiting_button {
  cursor: progress !important; }

.loading_button {
  background: #ebdf57 !important;
  cursor: progress !important; }

.success_button {
  background: #57eb87 !important;
  cursor: default !important; }

/*# sourceMappingURL=styles.css.map */
