body {
  font-family: rounded_eleganceregular;
  margin: 0px;
  padding: 0px; }

.clear {
  clear: both; }

@font-face {
  font-family: rounded_eleganceregular;
  src: url(../fonts/rounded_elegance-webfont.eot);
  src: url(../fonts/rounded_elegance-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/rounded_elegance-webfont.woff2) format("woff2"), url(../fonts/rounded_elegance-webfont.woff) format("woff"), url(../fonts/rounded_elegance-webfont.ttf) format("truetype"), url(../fonts/rounded_elegance-webfont.svg#rounded_eleganceregular) format("svg");
  font-weight: 400;
  font-style: normal; }
.whole_container {
  width: 100%;
  background: #f5f5f5;
  padding: 64px 0px; }
  @media screen and (max-width: 959px) {
    .whole_container {
      padding: 0px 0px; } }
  .whole_container .header_logo {
    width: 520px;
    margin: -50px calc(50% - 260px) 20px; }
  .whole_container .header_text {
    text-align: center;
    margin: -10px 0px;
    padding-left: 35px;
    letter-spacing: 36px;
    width: 1080px;
    margin: 0 auto; }
    @media screen and (max-width: 1359px) {
      .whole_container .header_text {
        width: 900px;
        padding-left: 30px;
        letter-spacing: 24px; } }
    @media screen and (max-width: 959px) {
      .whole_container .header_text {
        width: 410px;
        margin: 0px auto;
        text-align: center;
        padding: 30px 0px;
        line-height: 1.5;
        letter-spacing: 15px;
        padding-left: 30px; } }
    @media screen and (max-width: 459px) {
      .whole_container .header_text {
        width: 300px;
        text-align: left;
        line-height: 2;
        padding-left: 10px; } }
  .whole_container .info_container {
    width: 1080px;
    margin: 0 calc(50% - 540px);
    background: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
    @media screen and (max-width: 1359px) {
      .whole_container .info_container {
        width: 930px;
        margin: 0 calc(50% - 465px); } }
    @media screen and (max-width: 959px) {
      .whole_container .info_container {
        width: 100vw;
        margin: 0px; } }
    .whole_container .info_container .demo_video {
      width: 1080px;
      height: 610px; }
      @media screen and (max-width: 1359px) {
        .whole_container .info_container .demo_video {
          width: 930px;
          height: 530px; } }
      @media screen and (max-width: 959px) {
        .whole_container .info_container .demo_video {
          display: none; } }
      .whole_container .info_container .demo_video iframe {
        width: 100%;
        height: 100%; }
    .whole_container .info_container .quote {
      background-color: #202020;
      padding: 48px 0px;
      position: relative;
      z-index: 1; }
      .whole_container .info_container .quote .logo_animated {
        width: 100px;
        height: 100px;
        margin: 0 calc(50% - 50px) 24px; }
      .whole_container .info_container .quote .quote_text {
        color: white;
        width: 800px;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        font-family: rounded_eleganceregular;
        line-height: 1.8;
        font-weight: 300; }
        @media screen and (max-width: 959px) {
          .whole_container .info_container .quote .quote_text {
            width: 80vw;
            margin: 0 10vw; } }
      .whole_container .info_container .quote .ceo {
        margin: 24px auto; }
    .whole_container .info_container .animation_types {
      position: relative;
      z-index: 1;
      background: #00073B; }
      .whole_container .info_container .animation_types .row .styles {
        background: transparent;
        width: 360px;
        height: 200px;
        float: left;
        position: relative;
        color: #f4d419; }
        .whole_container .info_container .animation_types .row .styles .dropdown, .whole_container .info_container .animation_types .row .styles .dropup {
          position: absolute;
          width: 100%;
          top: 0px;
          height: 0px;
          background: #ffa1a1;
          z-index: 5;
          border-radius: 0px 0px 10px 10px; }
        .whole_container .info_container .animation_types .row .styles .dropup {
          bottom: 0px;
          top: auto;
          border-radius: 10px 10px 0px 0px; }
        .whole_container .info_container .animation_types .row .styles .pinkify {
          -webkit-animation: pulse .5s forwards;
          -moz-animation: pulse .5s forwards;
          -o-animation: pulse .5s forwards;
          animation: pulse .5s forwards; }
@keyframes pulse {
  0% {
    height: 0px; }
  100% {
    height: 200px; } }
        .whole_container .info_container .animation_types .row .styles .depinkify {
          -webkit-animation: depulse .5s forwards;
          -moz-animation: depulse .5s forwards;
          -o-animation: depulse .5s forwards;
          animation: depulse .5s forwards; }
@keyframes depulse {
  0% {
    height: 200px; }
  100% {
    height: 0px; } }
        .whole_container .info_container .animation_types .row .styles p {
          position: absolute;
          margin: 0px;
          z-index: 10;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          .whole_container .info_container .animation_types .row .styles p img {
            width: 50px;
            height: 50px; }
      .whole_container .info_container .animation_types .row .styles:hover {
        color: #00073b; }
    .whole_container .info_container .planning {
      height: 500px;
      background: transparent;
      position: relative; }
      .whole_container .info_container .planning .whole_slide {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%; }
        .whole_container .info_container .planning .whole_slide img {
          width: 100%; }
        .whole_container .info_container .planning .whole_slide .meat_slide {
          position: absolute;
          z-index: 25;
          width: 600px;
          height: 200px;
          background: rgba(107, 205, 234, 0.95);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 20px; }
          .whole_container .info_container .planning .whole_slide .meat_slide .flame_left {
            position: absolute;
            width: 180px;
            top: -90px;
            left: -70px; }
          .whole_container .info_container .planning .whole_slide .meat_slide .flame_right {
            position: absolute;
            width: 180px;
            top: -90px;
            right: -70px;
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH"; }
          .whole_container .info_container .planning .whole_slide .meat_slide h1 {
            margin: 30px 0px 40px;
            font-size: 48px; }
          .whole_container .info_container .planning .whole_slide .meat_slide h1, .whole_container .info_container .planning .whole_slide .meat_slide p {
            text-align: center; }
      .whole_container .info_container .planning .buttons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 100; }
        .whole_container .info_container .planning .buttons .blue_buttons {
          width: 20px;
          height: 20px;
          background: #00073B;
          border: 5px solid #00073B;
          border-radius: 50%;
          margin: 0px 10px 30px;
          float: left; }
        .whole_container .info_container .planning .buttons .active {
          background: #6bcdea; }
    .whole_container .info_container .contact_us {
      background-color: #202020;
      padding: 48px 0px 0px;
      position: relative;
      z-index: 100; }
      .whole_container .info_container .contact_us .contact_title {
        font-size: 48px;
        color: white;
        width: 100%; }
        .whole_container .info_container .contact_us .contact_title h1 {
          text-align: right;
          margin-right: 75px;
          font-size: 36px; }
          @media screen and (max-width: 1359px) {
            .whole_container .info_container .contact_us .contact_title h1 {
              margin-right: 45px; } }
          @media screen and (max-width: 959px) {
            .whole_container .info_container .contact_us .contact_title h1 {
              margin-right: 0px;
              text-align: center; } }
      .whole_container .info_container .contact_us #contact_submit {
        width: 600px;
        float: right;
        margin-right: 40px; }
        @media screen and (max-width: 1359px) {
          .whole_container .info_container .contact_us #contact_submit {
            margin-right: 10px; } }
        @media screen and (max-width: 959px) {
          .whole_container .info_container .contact_us #contact_submit {
            float: none;
            width: 600px;
            margin: 0 calc(50% - 320px); } }
        @media screen and (max-width: 599px) {
          .whole_container .info_container .contact_us #contact_submit {
            width: 300px;
            margin: 0 calc(50% - 165px); } }
        .whole_container .info_container .contact_us #contact_submit .add_information {
          float: left;
          position: relative;
          padding: 15px 50px; }
          .whole_container .info_container .contact_us #contact_submit .add_information .large_input {
            width: 475px;
            background: transparent;
            border: 2px solid white;
            height: 200px;
            top: 25px;
            position: relative;
            left: 15px;
            outline: none;
            color: white;
            font-size: 16px;
            padding: 10px; }
            @media screen and (max-width: 599px) {
              .whole_container .info_container .contact_us #contact_submit .add_information .large_input {
                width: 180px; } }
        .whole_container .info_container .contact_us #contact_submit .contact_information label, .whole_container .info_container .contact_us #contact_submit .add_information label {
          position: absolute;
          z-index: -1;
          color: white;
          font-size: 16px;
          left: 65px;
          top: 20px; }
        .whole_container .info_container .contact_us #contact_submit .contact_information {
          float: left;
          width: 270px;
          position: relative;
          padding: 20px 15px; }
          .whole_container .info_container .contact_us #contact_submit .contact_information input {
            color: white;
            background: transparent;
            border: none;
            border-bottom: 2px solid white;
            font-size: 16px;
            outline: none;
            width: 200px;
            margin: 0 50px; }
          .whole_container .info_container .contact_us #contact_submit .contact_information button {
            color: black;
            background: white;
            border: none;
            font-size: 16px;
            font-weight: bold;
            outline: none;
            width: 100px;
            margin: 10px 20px;
            padding: 10px 0px 5px;
            border-radius: 5px;
            float: right; }
    .whole_container .info_container .template_footer_footer {
      width: 480px;
      margin: 0 auto;
      top: 0px;
      position: relative; }
      @media screen and (max-width: 599px) {
        .whole_container .info_container .template_footer_footer {
          width: 280px; } }
      .whole_container .info_container .template_footer_footer .template_footer_text {
        color: #fff;
        float: left;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin: 5px 0px; }
      .whole_container .info_container .template_footer_footer .template_footer_footer_icons {
        width: 220px;
        margin: 0 calc(50% - 110px); }
        .whole_container .info_container .template_footer_footer .template_footer_footer_icons img {
          width: 30px;
          height: 30px;
          margin: 5px; }

.label_change {
  top: 0px !important;
  font-size: 12px !important; }

.error {
  color: red; }

/*# sourceMappingURL=styles.css.map */
