body {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    padding: 0px;
}
 
.hide{
    display: none;
}

.clear{
    clear: both;
}


.whole_container{
    width: 100%;
    background: #f5f5f5;
    padding: 64px 0px;
       
    @media screen and (max-width: 959px) {
        padding: 0px 0px;
    }
 
    .header_logo{
        width: 518px;
        margin: -50px calc(50% - 245px) 20px;

        @media screen and (max-width: 959px) {
            margin: 10px calc(50% - 245px) 20px;
            
        }
        
        @media screen and (max-width: 599px) {
            display: none;
        }
    }

    .header_logo_mobile{
        width: 120px;
        padding: 10px calc(50% - 60px) 20px;
        display: none;

        @media screen and (max-width: 599px) {
           
            display: block;
        }
 
    }


    .header_text{
        text-align:center;
        margin: -10px 0px;
        padding-left: 35px;
        letter-spacing: 36px;
        width: 1080px;
        margin: 0 auto;

        @media screen and (max-width: 1359px) {
            width: 900px;
            padding-left: 30px;
            letter-spacing: 24px;
        }

        @media screen and (max-width: 959px) {
            width: 410px;
            margin: 0px auto;
            text-align: center;
            padding: 30px 0px;
            line-height: 1.5;
            letter-spacing: 15px;
            padding-left: 30px;
        }

        @media screen and (max-width: 459px) {
            width: 300px;
            text-align: left;
            line-height: 2;
            padding-left: 10px;
        }
    }

    .info_container{
        width: 1080px;
        margin: 0 calc(50% - 540px);
        background: white;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.4),0 4px 5px 0 rgba(0,0,0,.28),0 1px 10px 0 rgba(0,0,0,.24);

        @media screen and (max-width: 1359px) {
            width: 930px;
            margin: 0 calc(50% - 465px);
        }

        @media screen and (max-width: 959px) {
            width: 100%;
            margin: 0px;
        }

        .demo_video{
            width: 1080px;
            height: 610px;

            @media screen and (max-width: 1359px) {
                width: 930px;
                height: 530px;
            }
        
            @media screen and (max-width: 959px) {
                width: 100%;
                height: 56vw;
            }

            iframe{
                width: 100%;
                height: 100%;


                .player .controls {
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    top: 0;
                    z-index: auto;
                    -webkit-box-pack: end;
                    -webkit-justify-content: flex-end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                }

            }
        }

        .animation_types{
            position: relative;
            z-index: 100;
            background: #00073B;
            
            .row{

                .styles{

                    background: transparent;
                    width: 360px;
                    height: 360px;
                    float:left;
                    position: relative;
                    color: transparent;

                    @media screen and (max-width: 1359px) {
                        width: 310px;
                        height: 310px;
                    }

                    @media screen and (max-width: 959px) {
                        width: calc(33.33333vw - 6px);
                        height:calc(33.33333vw - 6px);
                    }

                    @media screen and (max-width: 599px) {
                        width: calc(50vw - 9px);
                        height: calc(50vw - 9px);
                    }

                    .images{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 3;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .pencil_head{
                        position: absolute;
                        z-index: 19;
                        bottom: 115px;
                        left: 50%;
                        width: 70px;
                        transform: translate(-50%, 0%);

                        @media screen and (max-width: 1359px) {
                            bottom: 90px;
                        }

                        @media screen and (max-width: 959px) {
                            display: none;
                        }


                    }

                    .dropdown, .dropup{
                        position: absolute;
                        width: 100%;
                        top: 0px;
                        height: 0px;
                        background: rgba(0,0,0,.5); 
                        z-index: 5;
                    }

                    .dropup{
                        bottom: 0px;
                        top: auto;
                    }

                    .pinkify {
                        -webkit-animation: pulse .25s forwards;
                        -moz-animation:    pulse .25s forwards;
                        -o-animation:      pulse .25s forwards;
                        animation:         pulse .25s forwards;  

                        @media screen and (max-width: 1359px) {
                            -webkit-animation: pulse_1359 .25s forwards;
                            -moz-animation:    pulse_1359 .25s forwards;
                            -o-animation:      pulse_1359 .25s forwards;
                            animation:         pulse_1359 .25s forwards;                        
                        }

                        @media screen and (max-width: 959px) {
                            -webkit-animation: pulse_959 .25s forwards;
                            -moz-animation:    pulse_959 .25s forwards;
                            -o-animation:      pulse_959 .25s forwards;
                            animation:         pulse_959 .25s forwards;                        
                        }

                        @media screen and (max-width: 599px) {
                            -webkit-animation: pulse_599 .25s forwards;
                            -moz-animation:    pulse_599 .25s forwards;
                            -o-animation:      pulse_599 .25s forwards;
                            animation:         pulse_599 .25s forwards;                        
                        }

                    }
                    
                    .depinkify {
                        -webkit-animation: depulse .25s forwards;
                        -moz-animation:    depulse .25s forwards;
                        -o-animation:      depulse .25s forwards;
                        animation:         depulse .25s forwards; 

                        @media screen and (max-width: 1359px) {
                            -webkit-animation: depulse_1359 .25s forwards;
                            -moz-animation:    depulse_1359 .25s forwards;
                            -o-animation:      depulse_1359 .25s forwards;
                            animation:         depulse_1359 .25s forwards;                        
                        }

                        @media screen and (max-width: 959px) {
                            -webkit-animation: depulse_959 .25s forwards;
                            -moz-animation:    depulse_959 .25s forwards;
                            -o-animation:      depulse_959 .25s forwards;
                            animation:         depulse_959 .25s forwards;                        
                        }

                        @media screen and (max-width: 599px) {
                            -webkit-animation: depulse_599 .25s forwards;
                            -moz-animation:    depulse_599 .25s forwards;
                            -o-animation:      depulse_599 .25s forwards;
                            animation:         depulse_599 .25s forwards;                        
                        }



                    }
                    
                    @keyframes pulse {
                      0% {
                       height: 0px;
                      }
                      100% {
                       height: 360px;
                      }
                    }

                    @keyframes depulse {
                      0% {
                       height: 360px;
                      }
                      100% {
                       height: 0px;
                      }
                    }

                    @keyframes pulse_1359 {
                      0% {
                       height: 0px;
                      }
                      100% {
                       height: 310px;
                      }
                    }

                    @keyframes depulse_1359 {
                      0% {
                       height: 310px;
                      }
                      100% {
                       height: 0px;
                      }
                    }

                    @keyframes pulse_959 {
                      0% {
                       height: 0px;
                      }
                      100% {
                       height: calc(33.33333vw - 6px);
                      }
                    }

                    @keyframes depulse_959 {
                      0% {
                       height: calc(33.33333vw - 6px);
                      }
                      100% {
                       height: 0px;
                      }
                    }

                    @keyframes pulse_599 {
                      0% {
                       height: 0px;
                      }
                      100% {
                       height: calc(50vw - 9px);
                      }
                    }

                    @keyframes depulse_599 {
                      0% {
                       height: calc(50vw - 9px);
                      }
                      100% {
                       height: 0px;
                      }
                    }

                    p{ 
                        position: absolute;
                        width: 100%;
                        margin: 0px;
                        z-index: 10;
                        font-size: 36px;
                        font-weight: bold;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        @media screen and (max-width: 1359px) {
                            font-size: 30px;
                        }
                    }

                }

                .styles:hover{
                    color: white;
                }

            }
        }

        .planning{
            height: 600px;
            background: transparent;
            position: relative;

            @media screen and (max-width: 1359px) {
                height: 520px;
            }  

            @media screen and (max-width: 959px) {
                display:none;
            } 

            .whole_slide{
                position: absolute;
                z-index: 100;
                width: 100%;
                height: 100%;

                .slide_images{
                    width: 100%;
                    height: 100%;
                    background-size: 33.3333333%;
                    position:absolute;
                    
                    video{
                        width: 100%;
                        height: 130%;
                        position:absolute;
                        margin: -90px 0px 0px;

                        @media screen and (max-width: 1359px) {
                            margin: -80px 0px 0px;
                        } 

                    }

                }

                .slide_overlay{
                    width: 100%;
                    height: 100%;
                }

                .meat_slide{
                    position: absolute;
                    z-index: 25;
                    width: 600px;
                    height: 200px;
                    background: rgba(0, 3, 23, .85);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); 
                    border-radius: 20px;


                    h1{
                        margin: 45px 0px 10px;
                        font-size: 64px;
                    }

                    p{
                        margin: -5px 0px 0px
                    }

                    h1,p{
                        text-align: center;
                        color: white;
                    }          
                }
            }

            .buttons{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0%);
                z-index: 300;

                .blue_buttons{
                    width: 20px;
                    height: 20px;
                    background: rgba(0, 3, 23, .95);
                    border: 5px solid rgba(0, 3, 23, .95);
                    border-radius: 50%;
                    margin: 0px 10px 30px;
                    float: left;
                    cursor: pointer;
                }

                .active{
                    background: #6bcdea;
                }
            }
        }

        .planning_mobile{
            background: rgba(0, 3, 23, .95);
            padding: 24px 0px 0px;
            display: none;

            @media screen and (max-width: 959px) {
                display: block;
            } 

            h1, h2, p{
            margin: 0px;
            color: white;
            }

            h1{
                margin-bottom: 20px;
                text-align: center;
                font-size: 48px;
            }

            .steps{
                padding: 20px 0px;
                margin: 0 auto;
            }

            h2, p{
                margin: 5px 30px;
            }

            h2{
                font-size: 30px;
            }

            p{
                font-size: 18px;
            }

        }

        .about{
            width: 100%;
            height: 270px;
            max-width: 1080px;
            background: rgba(0, 3, 23, .95);
            position: relative;
            overflow:hidden;
            transform: translate3d(0, 0, 0);
            z-index: 100;
            
            @media screen and (max-width: 1359px) {
                max-width: 930px;
                height: 232.5px;
            }
            
            @media screen and (max-width: 959px) {
                max-width: 100%;
                height: 33.33333vw;
            }

            @media screen and (max-width: 599px) {
                max-width: 100%;
                height: 50vw;
            }

            .people{
                width: 400%;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 3, 23, .95);
                animation: scroll 30s linear infinite;
                transform: translate3d(0, 0, 0);
    
                @media screen and (max-width: 959px) {
                    width: 500%;
                }

                @media screen and (max-width: 599px) {
                    width: 600%;
                }

                .humans{

                    background: transparent;
                    width: 270px;
                    height: 270px;
                    float:left;
                    position: relative;
                    
                    @media screen and (max-width: 1359px) {
                        width: 232.5px;
                        height: 232.5px;
                    }

                    @media screen and (max-width: 959px) {
                        width: 33.33333vw;
                        height: 33.33333vw;
                    }

                    @media screen and (max-width: 599px) {
                        width: 50vw;
                        height: 50vw;
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-size: cover;
                        background-repeat: no-repeat;     
                    }
                 
                    .dropdown{
                        position: absolute;
                        width: 100%;
                        top: 0px;
                        height: 0px;
                        background: rgba(0,0,0,.75); 
                        z-index: 50;
                    }

                    .pinkify {
                        -webkit-animation: pulse2 .1s forwards;
                        -moz-animation:    pulse2 .1s forwards;
                        -o-animation:      pulse2 .1s forwards;
                        animation:         pulse2 .1s forwards;                    
                    }

                    @keyframes pulse2 {
                        0% {
                            height: 0px;
                        }
                        100% {
                            height: 270px;
                        }
                    }

                    @media screen and (max-width: 1359px) {
                        @keyframes pulse2 {
                            0% {
                                height: 0px;
                            }
                            100% {
                                height: 232.5px;
                            }
                        }
                    }


                    @media screen and (max-width: 959px) {
                        @keyframes pulse2 {
                            0% {
                                height: 0px;
                            }
                            100% {
                                height: 33.333333vw;
                            }
                        }
                    }

                    @media screen and (max-width: 599px) {
                        @keyframes pulse2 {
                            0% {
                                height: 0px;
                            }
                            100% {
                                height: 50vw;
                            }
                        }
                    }


                    .text{
                        
                        position: absolute;
                        width: 100%;
                        margin: 0px;
                        z-index: 60;
                        font-size: 36px;
                        font-weight: bold;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        h1{
                            margin: 30px 0px 0px;
                            font-size: 48px;
                            color: white;
                        }

                        p{
                            margin: -5px 0px 0px;
                            font-size: 24px;
                            color: #f4d419;
                        } 
                    }
                }
            }

            @keyframes scroll {
                100% { 
                    transform: translateX(-75%);  
                }
            }

            @media screen and (max-width: 959px) {
                @keyframes scroll {
                    100% { 
                        transform: translateX(-80%);  
                    }
                }
            }

            @media screen and (max-width: 599px) {
                @keyframes scroll {
                    100% { 
                        transform: translateX(-87.5%);  
                    }
                }
            }

        }

        .contact_us{
            background: rgba(0, 3, 23, .95);
            padding: 24px 0px 0px;
            position: relative;
            z-index: 100;

            .gradient_flame{
                position: absolute;
                width: 200px;
                top: 75px;
                left: 150px;
            
                @media screen and (max-width: 1359px) {
                    left: 90px;
                }  

                @media screen and (max-width: 959px) {
                    display: none;
                }  

            }
        
            .contact_title{
                color: white;
                width: 100%;
            
                h1{
                    text-align: right;
                    font-size: 64px;
                    margin: 10px 70px 10px 0px;
      
                    @media screen and (max-width: 1359px) {
                        margin-right: 45px;
                    }   

                    @media screen and (max-width: 959px) {
                        margin-right: 0px;
                        text-align: center;
                    }   

                    @media screen and (max-width: 599px) {
                        font-size: 48px;
                        margin-bottom: 30px;
                    }         
                }
            }

            #contact_submit{
                width: 600px;
                float: right;
                margin-right: 40px;
        
                @media screen and (max-width: 1359px) {
                    margin-right: 10px;
                }            
        
                @media screen and (max-width: 959px) {
                    float: none;
                    width: 600px;
                    margin: 0 calc(50% - 320px);
                }            

                @media screen and (max-width: 599px) {
                    width: 300px;
                    margin: 0 calc(50% - 165px);
                }   

                .add_information{
                    float: left;
                    position: relative;
                    padding: 15px 50px;

                    .large_input{
                        width: 475px;
                        background: transparent;
                        border: 2px solid white;
                        height: 200px;
                        top: 25px;
                        position: relative;
                        left: 15px;
                        outline: none;
                        color: white;
                        font-size: 16px;
                        padding: 10px;
                        
                        @media screen and (max-width: 599px) {
                            width: 180px;
                        }   
                    }    
                }

                .contact_information label, .add_information label{
                    position: absolute;
                    z-index: -1;
                    color: white;
                    font-size: 16px;
                    left: 65px;
                    top: 20px;
                }

                .contact_information{
                    float: left;
                    width: 270px;
                    position: relative;
                    padding: 20px 15px;
               
                    input{
                        color: white;
                        background: transparent;
                        border: none;
                        border-bottom: 2px solid white;
                        font-size: 16px;
                        outline: none;
                        width: 200px;
                        margin: 0 50px;
                    }

                    button{
                        color: black;
                        background: white;
                        border: none;
                        font-size: 16px;
                        font-weight: bold;
                        outline: none;
                        width: 120px;
                        margin: 10px 20px;
                        padding: 13px 0px 9px;
                        border-radius: 5px;
                        float: right;
                        cursor: pointer;
                    }
                }
            }
        }

        .footer{ 
            background: rgba(0, 3, 23, .95); 
            position:relative;
            height: 70px;
            
            @media screen and (max-width: 959px) {
                height: 100px;
            }
            
            .info{
                position: absolute;
                top: 0;
                left: 50%;
                width: 100%;
                transform: translate(-50%, 0%);
                
                
                p{
                    color: white;
                    margin: 0px;
                    width: 100%;
                    text-align: center;
                }

                .desktop{
                    display: block;

                    @media screen and (max-width: 959px) {
                        display: none;
                    }
                }

                .mobile{
                    display: none;
                    text-align: center;
                    
                    @media screen and (max-width: 959px) {
                        display: block;
                        line-height: 1.5;
                    }
                }

            }

            .socials{
                position: absolute;
                bottom: 12px;
                left: 50%;
                transform: translate(-50%, 0%);
                
                @media screen and (max-width: 959px) {
                    bottom: 20px;
                }

                i{
                    font-size: 24px;
                    color: white;
                    margin: 0px 10px;
                }
            }

            .copy{
                position: absolute;
                right: 0;
                bottom: 0;
                color: white;
                p{
                    margin: 5px;
                }
            }

        }

    }
}

.label_change{
    top: 0px!important;
    font-size: 12px!important;
}

.error{
    color: red;
}

.waiting_button{
    cursor: progress!important;
}

.loading_button{
    background: #ebdf57!important;
    cursor: progress!important;
}

.success_button{
    background: #57eb87!important;
    cursor: default!important;
} 